* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 50px;
}
h1 span.user_name {
  font-size: 24px;
  font-weight: 500;
}

h2 {
  font-size: 22px;
  font-weight: 500;
}

button {
  cursor: pointer;
  border: 0;
  background-color: transparent;
}

main {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
main .left {
  height: 100%;
  min-width: 300px;
  width: 300px;
  padding: 35px 28px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
main .left_list {
  width: 100%;
}
main .left_item {
  border-radius: 8px;
  margin-bottom: 3px;
}
main .left_item a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 13px;
  width: 100%;
}
main .left_item a svg {
  margin-right: 15px;
}
main .left_item a p {
  color: #838383;
}
main .left_item.active, main .left_item:hover {
  background-color: #5932EA;
}
main .left_item.active p, main .left_item:hover p {
  color: #ffffff;
}
main .left_item.active svg path, main .left_item:hover svg path {
  fill: #ffffff;
}
main .left_item.active, main .left_item:nth-child(1):hover, main .left_item:nth-child(3):hover, main .left_item:nth-child(4):hover {
  background-color: #5932EA;
}
main .left_item.active p, main .left_item:nth-child(1):hover p, main .left_item:nth-child(3):hover p, main .left_item:nth-child(4):hover p {
  color: #ffffff;
}
main .left_item.active svg path, main .left_item:nth-child(1):hover svg path, main .left_item:nth-child(3):hover svg path, main .left_item:nth-child(4):hover svg path {
  stroke: #ffffff;
  fill: transparent;
}
main .right {
  background-color: #f2f9fa;
  padding: 40px 70px;
  flex: 1 0 0%;
}
main .right_container {
  max-width: 1200px;
  min-width: 500px;
  background: #FFFFFF;
  box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
  border-radius: 30px;
  padding: 30px 38px;
}
main .right_container .container_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
main .right_container .container_header p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #16C098;
}
main .right_container .container_header form {
  position: relative;
}
main .right_container .container_header form input {
  border: 0;
  outline: 0;
  padding: 10px 10px 10px 40px;
  background-color: #F9FBFF;
  border-radius: 10px;
  line-height: 18px;
  font-size: 14px;
}
main .right_container .container_header form input::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  color: #B5B7C0;
}
main .right_container .container_header form input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  color: #B5B7C0;
}
main .right_container .container_header form input::placeholder {
  font-weight: 400;
  font-size: 12px;
  color: #B5B7C0;
}
main .right_container .container_header form button {
  position: absolute;
  top: 7px;
  left: 10px;
}

.logo {
  margin-bottom: 60px;
}
.logo a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo a img {
  margin-right: 5px;
}
.logo a p {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
}
.logo a p span {
  font-weight: 300;
  font-size: 10px;
  color: #838383;
}

.user {
  display: flex;
  align-items: center;
  margin-top: auto;
}
.user_img {
  border-radius: 50px;
  overflow: hidden;
  width: 42px;
  height: 42px;
  margin-right: 12px;
}
.user_name {
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
}
.user_position {
  font-size: 12px;
  color: #838383;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  word-wrap: break-word;
  table-layout: fixed;
  margin-bottom: 30px;
}
table tr {
  border-bottom: 1px solid #EEEEEE;
  padding: 14px 0;
}
table th {
  color: #838383;
  font-weight: 400;
  padding: 10px;
}
table td {
  color: #292D32;
  padding: 15px 15px;
}
table td.active {
  color: #008767;
  background-color: rgba(22, 192, 152, 0.38);
  border: 1px solid #00B087;
  border-radius: 4px;
  padding: 4px 10px;
  display: inline-flex;
  margin-top: 10px;
}
table td.inactive {
  color: #DF0404;
  background-color: #FFC5C5;
  border: 1px solid #DF0404;
  border-radius: 4px;
  padding: 4px 10px;
  display: inline-flex;
  margin-top: 10px;
}

.sum {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sum_left {
  font-size: 14px;
  color: #B5B7C0;
}

.hidden {
  display: none;
}

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#pagination-numbers {
  display: flex;
}

.pagination-number,
.pagination-button {
  font-size: 12px;
  color: #404B52;
  margin: 0 5px;
  background-color: #F5F5F5;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 24px;
  height: 24px;
}

.pagination-number:hover,
.pagination-button:not(.disabled):hover svg path,
.pagination-button:not(.disabled):hover {
  color: #ffffff;
  background-color: #5932EA;
  fill: #ffffff;
}

.pagination-number.active {
  color: #ffffff;
  background-color: #5932EA;
}

@media screen and (max-width: 1220px) {
  main .right {
    padding: 30px 50px;
  }
}/*# sourceMappingURL=style.css.map */